<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :salas %>
    <%= f.association :clients %>
    <%= f.input :date_time %>
    <%= f.input :about %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
