<li><%= link_to "Locales", new_local_path  %></li>

<li><%= link_to "Salas", pages_reservation_path  %></li>

<li><%= link_to "Productos", pages_contact_us_path  %></li>

<li><%= link_to "Eventos", pages_register_path  %></li>

<li><%= link_to "Reservas", pages_register_path  %></li>