<li><%= link_to "Locales", locals_path  %></li>

<li><%= link_to "Salas", new_producto_path  %></li>

<li><%= link_to "Productos", new_producto_path  %></li>

<li><%= link_to "Eventos", pages_register_path  %></li>

<li><%= link_to "Reservas", pages_register_path  %></li>